<div class="autorization-flex-box">
    <div class="autorization-container">
        <h2>Войти или зарегистрироваться</h2>
        <form class="autorization-form" method='post' asp-action="Authorization" asp-controller="User">
            <p>
                <label class="autorization-label">Логин</label><br />
                <input class="autorization-input" name='name' />
            </p>
            <p>
                <label class="autorization-label">Пароль</label><br />
                <input class="autorization-input" type='password' name='password' />
            </p>
            <input class="autorization-button" type='submit' value='Войти' />
        </form>
        <form method='post' asp-action="CreateNewUser" asp-controller="User">
            <input class="autorization-button" type="submit" value="Зарегистрироваться" />
        </form>
    </div>
</div>

